.icone{
    color:black;
}
.infocontact{
    width: 100%;
}
.infocontact__information{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 2rem;
    &__bloc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 7rem;
        gap: 0.5rem;
        box-shadow: 0rem 0rem 0.5rem $black-color;
    }
}
h3{
    color: $red-color;
    font-size: 1.5rem;
    font-family: $titre2-font;
}

form{
    padding: 1rem 1rem 1rem 1rem;
    margin: auto;
    margin-bottom: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width: 70%;
    height: 28rem;
    input,textarea{
        font-family: $paragraphe-font;
        font-size: 1.2rem;
        border: 0px;
        border-bottom: 0.15rem solid $black-color;
      
        &:focus{
            outline: none;
            border-width: 0.1rem 0.1rem 0.15rem 0.1rem; /* Haut, Droite, Bas, Gauche */
            border-style: solid;
            border-color: $red-color;
        }
    }

    button{
        
        width: 10rem;
        height: 2rem;
        background-color: $red-color;
        border-color: $red-color;
        color:white;
        border-radius: 15px;
        transition: transform 450ms ease-in-out, background-color 300ms 150ms ease-in-out;
        &:hover{
            transform: scale(1.15);
            background-color: rgba(223, 16, 16, 0.767);
        }
    }
}

.bloc__localisation{
    display: flex;
    gap:2rem;
    justify-content: flex-start;
    margin-bottom: 0rem;
}
#map{
    height: 30rem;
    width: 30rem;
    display: block;
    margin-bottom: 2rem;
}
.cta{
    font-family: $titre2-font;
    color: $red-color;
}






@media screen and (max-width: $breakpoint-first){
    .infocontact__information,.bloc__localisation{
        flex-direction:column ;
        align-items: center;
        &__bloc{
            width: 90%;
        }
    }
    .infocontact{
        margin-left: 2rem;
    }
    form{
        width: 90%;
    }

    #map{
        width: 90%;
    }


}

@media screen and (max-width: $breakpoint-second){
    form{
        width: 80%;
    }

    #map{
        width: 80%;
    }
  
    .infocontact__information{
        &__bloc{
            width: 80%;
        }
  }
}