

.infoaccueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5rem;
    gap: 0.8rem;
    
    &__titre1,&__titre2,&__btn{
        color: white;
    }

    &__titre1{
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.2;
        font-family: $titre1-font;
    }

    &__titre2{
        font-weight: normal;
        font-size: 1.5rem;
        font-style: normal;
        font-family: $police-font;
      
        line-height: 3rem;
        text-decoration: underline $red-color;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.1rem;
    }

    &__btn{
        display: inline-block;
        background-color: $red-color;
        border-radius: 1rem;
        font-family: $other-font;
        font-size:1.2rem ;
        width: 8rem;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover{
            background-color: #c81d11;
        }

    }
}