.logo-ecole{
    width: 10rem;
    height: 10rem;
    &:hover{
        opacity: 0.7;
    }
}
.infoparcours{
    width: 100%;
}

.listecole{
    display: flex;
    flex-direction: column-reverse;
    &__point{
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            gap: 1.5rem;
            align-items: center;
          
            &--double{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
            }
            &--texte{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 80%;
                .items2{
                    align-self: flex-end;
                    font-style: italic;
                }

                .items1{
                   justify-self: center;
                   font-weight: bolder;
                   line-height: 2rem;
                   &__info{
                    font-family: $other-font;
                    font-size: 1.3rem;
                   }
                }
            }
    }
}



@media screen and (max-width: $breakpoint-first){
    .infoparcours{
        margin-left: 2rem;
    }

    
    .logo-ecole{
        width: 7rem;
        height: 7rem;
        
    }
    .items1{
        
         font-size: 1rem;
        }
   

    .listecole__point--texte{
            width: 90%;
        }


}

@media screen and (max-width: $breakpoint-second){
    .infoparcours p {
       font-size: 0.9rem;
    }
    .logo-ecole{
        width: 6rem;
        height: 6rem;
        
    }
    .items1{
        
         font-size: 0.7rem;
        }
        .listecole__point{
           
            width: 18rem;
            margin: auto;
            margin-bottom: 2rem;
            padding-right: 0.5rem;
        }

        .listecole__point--texte{
            width: 90%;
        }
  
  }