$num-ecole:4;
$anim-dur: 1000ms;
@use "sass:math";
$anim-delay: math.div($anim-dur, $num-ecole);

.logo-ecole{
    width: 10rem;
    height: 10rem;
    &:hover{
        opacity: 0.7;
    }
}
.infoparcours{
    width: 100%;
}

.listecole{
    display: flex;
    flex-direction: column-reverse;
    
    &__point{
         
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            gap: 1.5rem;
            align-items: center;
          
            @for $i from 1 through $num-ecole{
            &#{$i}{
                opacity: 0;
            }
        }
            
          
            &--double{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
            }
            &--texte{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 80%;
                
                .items2{
                    align-self: flex-end;
                    font-style: italic;
                }

                .items1{
                   justify-self: center;
                   font-weight: bolder;
                   line-height: 2rem;
                   &__info{
                    font-family: $other-font;
                    font-size: 1.3rem;
                   }
                }
            }
    }
}

@media (prefers-reduced-motion:no-preference){
    .listecole__point{
             
                
                
                
                @for $i from 1 through $num-ecole{
                    &#{$i}.visible {
                        animation: entrer-gauche $anim-dur cubic-bezier(0.075, 0.82, 0.165, 1) both;
                        animation-delay: $anim-delay;
                        
                     }
                }
        
    }
   

}

@media screen and (max-width: $breakpoint-first){
    .infoparcours{
        margin-left: 2rem;
    }

    
    .logo-ecole{
        width: 7rem;
        height: 7rem;
        
    }
    .items1{
        
         font-size: 1rem;
        &__info{
            font-size: 1rem;
        }
        }
   

    .listecole__point--texte{
            width: 90%;
        }


}

@media screen and (max-width: 765px){
    .infoparcours{
        margin-left: 1rem;
        & p{
            font-size: 0.9rem;
        }

    }
    .logo-ecole{
        width: 5rem;
        height: 5rem;
        
    }
    .listecole__point{
        padding-bottom: 1rem;
        
        
        align-items: flex-start;
        border-bottom: 0.5px $red-color solid;
        &--texte{
            width: 100%;
            font-size: 0.1rem;
           
        }
    }
    

    .items1{
        font-size: 0.8rem;
        &__info{
            display: inline-block;
            font-size: 0.3rem;
            margin-top: 0.5rem;
        }

        &__inp{
           
            display: inline-block;
            border-bottom:  0.2px gray solid;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
        }
        }
}

@media screen and (max-width: $breakpoint-second){
    .infoparcours p {
       font-size: 0.9rem;
    }
    .logo-ecole{
        width: 4rem;
        height: 4rem;
        
    }
    .items1{
        
         font-size: 0.8rem;
        }
        .listecole__point{
            
            align-items: flex-start;
            width: 18rem;
            margin: auto;
            margin-bottom: 2rem;
            padding-right: 0.5rem;
        }

        // .listecole__point--texte{
        //     width: 90%;
        // }
  
  }



@keyframes entrer-gauche {
    from{
        transform: translateX(9999px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



