.relax{
    text-align: center;
    font-size: 2rem;
    
}

.relax-bloc{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.portfolio__img{
    
    margin-top: 2rem;
    width: 70%;
    height: 60%;
   text-align: center;
}
// .relax-bloc{
//     margin: auto;
// }



.projet{
    width:  25rem;
    height: 35rem;
    border-radius:  1.5rem;
    padding: 1rem;
    animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
    // border: 0.5rem black solid;
    background-color: rgb(204, 204, 204,0.4);
    &__image{
        width: 95%;
        margin: auto;
        
        & img,video{
            border-radius: 1rem;
            width:100%;
            
        }
    }

}
.bloc__projet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.plusss{
    text-decoration: none;
    color: $red-color;
    font-size: 1.2rem;
    margin-right: auto;
    display: inline-block;
    background-color: rgb(255, 255, 255,0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
  
 
}



@media screen and (max-width: $breakpoint-first){
    .infoportfolio{
       
        margin-left: 1rem;
        padding-left: 2rem;


    }
    .infoportfolio p{
        font-size: 1rem;
      }
    // .relax-bloc{
    //     margin: auto;
    // }
 
    .portfolio__img{
        height: 90%;
        width: 90%;
       
       
    }
    .relax-bloc{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .relax{
        
        font-size: 1.5rem;
    }

    .projet{
        width:  20rem
    }

}