//importation des fichiers de la section utils
@import "utils/variables";

//importation des fichiers de la base
@import "base/typography";

//importation des fichiers de la section pages
@import "pages/index";
@import "pages/about";
@import "pages/portfolio";
@import "pages/parcours";
@import "pages/contact";

//importation des fichiers de la section layouts
@import "layouts/header";
@import "layouts/footer";


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:$body-color;
}
main{
    display: flex;
    padding-right: 2rem;
    
}

i{
    width: 1.5rem;
    height: 1.5rem;
    color:white;
    font-size: 1.5rem;
}
.active{
    color:$red-color;
    font-size: 1.7rem;
}


.accueil{
    background-image: url('../assets/img/acceuil/fond.jpg');
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    
    animation: scrollBackground 25s linear infinite;

    @keyframes scrollBackground {
    0% {
        background-position: 0% 0%;
        
    }
    25% {
        background-image: url('../assets/img/acceuil/fond3.jpg');
        background-position: 0% 0%;
    }
    50% {
        background-image: url('../assets/img/acceuil/fond4.jpg');
        background-position: 0% 0%;
    }
    75% {
        background-image: url('../assets/img/acceuil/fond7.jpg');
        background-position: 0% 0%;
    }
    100% {
        background-image: url('../assets/img/acceuil/fond.jpg'); /* Retour à la première image pour créer une boucle infinie */
        background-position: 0% 0%;
    }
  }
}