@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@500&family=Ephesis&family=Oswald&family=Roboto&family=Satisfy&family=Ubuntu:wght@500&display=swap");
h1 {
  margin: 3rem 0rem 3rem 0rem;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  color: #B22222;
}

.title {
  width: 100%;
  text-align: center;
  animation: entrer-title 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  height: 2rem;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  width: 2rem; /* Ajuste la longueur de la bordure selon tes besoins */
}

h1::before {
  top: 0;
  left: -1rem;
}

h1::after {
  bottom: -1rem;
  right: 0;
  transform: rotate(180deg);
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.ligne {
  margin-top: 0.4rem;
  width: 3rem;
  height: 0.15rem;
  border-color: #B22222;
  background-color: #B22222;
}

.info_titre2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@keyframes entrer-title {
  from {
    transform: translateY(-9999px);
  }
  to {
    transform: translateY(0px);
  }
}
.infoaccueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
  gap: 0.8rem;
}
.infoaccueil__titre1, .infoaccueil__titre2, .infoaccueil__btn {
  color: white;
}
.infoaccueil__titre1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  animation: menu__item 2s 500ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.infoaccueil__titre2 {
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Dancing Script", cursive;
  line-height: 3rem;
  -webkit-text-decoration: underline #B22222;
          text-decoration: underline #B22222;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.1rem;
  transition: transform 450ms ease-in-out;
  animation: menu__item 2s 1000ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.infoaccueil__titre2:hover {
  transform: scale(1.05);
}
.infoaccueil__btn {
  display: inline-block;
  background-color: #B22222;
  border-radius: 1rem;
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 450ms ease-in-out, background-color 300ms 150ms ease-in-out;
  animation: bouge 2s 2000ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.infoaccueil__btn:hover {
  transform: scale(1.25);
  background-color: #c81d11;
}

@keyframes bouge {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40%, 60%, 80% {
    transform: rotate(5deg);
  }
  50%, 70%, 90% {
    transform: rotate(-5deg);
  }
}
@media screen and (max-width: 370px) {
  .infoaccueil__titre1 {
    font-size: 2rem;
  }
  .infoaccueil__titre2 {
    font-size: 1.2rem;
  }
  .infoaccueil__btn {
    font-size: 1rem;
    width: 6rem;
  }
}
.infoabout__presentation {
  margin: 0rem 0rem 0rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.infoabout__presentation__image {
  margin-left: 2rem;
  width: 15rem;
  height: 15rem;
}

.infoabout__passion, .infoabout__qualite {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.infoabout__passion__image, .infoabout__qualite__image {
  width: 12rem;
  height: 12rem;
}
.infoabout__passion__bloc, .infoabout__qualite__bloc {
  width: 15rem;
  height: 15rem;
  box-shadow: 0rem 0rem 0.5rem #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.infoabout__passion__bloc p, .infoabout__qualite__bloc p {
  text-align: center;
}

.infoabout__competence {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.infoabout__competence__titre {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.infoabout__competence__titre--img {
  width: 3rem;
  height: 3rem;
}
.infoabout__competence__titre--texte {
  font-weight: bold;
}

.progress-container {
  width: 300px;
  height: 30px; /* Ajuste la hauteur en fonction de l'apparence souhaitée */
}

.progress-title {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  position: relative;
  top: 0.5rem;
}

progress {
  width: 100%;
  height: 7px;
  background-color: #B22222;
}

.progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 7px;
  border-left: 20px;
}

/* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
progress::-webkit-progress-value {
  background-color: #B22222; /* Couleur de fond de la barre de progression */
}

progress::-webkit-progress-bar {
  background-color: #ddd; /* Couleur de la partie non remplie de la barre de progression */
}

/* Pour Firefox */
progress::-moz-progress-bar {
  background-color: #ddd; /* Couleur de fond de la barre de progression */
}

/* Partie remplie pour Firefox */
progress::-moz-progress-value {
  background-color: #B22222; /* Couleur de la partie remplie de la barre de progression */
}

.progress-label {
  position: absolute;
  top: -70%;
  left: 90%;
}

.cache {
  visibility: hidden;
}

@media screen and (max-width: 1030px) {
  .infoabout {
    margin-left: 2rem;
  }
  .infoabout__competence, .infoabout__passion, .infoabout__qualite, .infoabout__presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoabout__presentation {
    margin: 3rem 0rem 0rem 0rem;
  }
  .infoabout__competence, .progress-container, .progress-title {
    width: 20rem;
  }
  .infoabout__competence {
    display: flex;
    margin: auto;
    width: 90%;
  }
  .infoabout__presentation__image {
    margin: 0rem;
  }
}
@media screen and (max-width: 370px) {
  .infoabout p {
    font-size: 1rem;
  }
  .progress-title, .progress-container {
    width: 260px;
  }
}
.agritech {
  background-image: url("../assets/img/drone1.jpg");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.agri {
  background-color: rgba(255, 255, 255, 0.3);
}

.projet {
  width: 25rem;
  height: 35rem;
  border-radius: 1.5rem;
  padding: 1rem;
  animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
  background-color: rgba(204, 204, 204, 0.4);
}
.projet__image {
  width: 95%;
  margin: auto;
}
.projet__image img, .projet__image video {
  border-radius: 1rem;
  width: 100%;
}

.bloc__projet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.plusss {
  text-decoration: none;
  color: #B22222;
  font-size: 1.2rem;
  margin-right: auto;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1030px) {
  .infoportfolio {
    padding-left: 2rem;
  }
  .infoportfolio p {
    font-size: 1rem;
  }
  .projet {
    width: 20rem;
  }
}
.logo-ecole {
  width: 10rem;
  height: 10rem;
}
.logo-ecole:hover {
  opacity: 0.7;
}

.infoparcours {
  width: 100%;
}

.listecole {
  display: flex;
  flex-direction: column-reverse;
}
.listecole__point {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.listecole__point1 {
  opacity: 0;
}
.listecole__point2 {
  opacity: 0;
}
.listecole__point3 {
  opacity: 0;
}
.listecole__point4 {
  opacity: 0;
}
.listecole__point--double {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.listecole__point--texte {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}
.listecole__point--texte .items2 {
  align-self: flex-end;
  font-style: italic;
}
.listecole__point--texte .items1 {
  justify-self: center;
  font-weight: bolder;
  line-height: 2rem;
}
.listecole__point--texte .items1__info {
  font-family: "Caveat", cursive;
  font-size: 1.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .listecole__point1.visible {
    animation: entrer-gauche 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 250ms;
  }
  .listecole__point2.visible {
    animation: entrer-gauche 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 250ms;
  }
  .listecole__point3.visible {
    animation: entrer-gauche 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 250ms;
  }
  .listecole__point4.visible {
    animation: entrer-gauche 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 250ms;
  }
}
@media screen and (max-width: 1030px) {
  .infoparcours {
    margin-left: 2rem;
  }
  .logo-ecole {
    width: 7rem;
    height: 7rem;
  }
  .items1 {
    font-size: 1rem;
  }
  .items1__info {
    font-size: 1rem;
  }
  .listecole__point--texte {
    width: 90%;
  }
}
@media screen and (max-width: 765px) {
  .infoparcours {
    margin-left: 1rem;
  }
  .infoparcours p {
    font-size: 0.9rem;
  }
  .logo-ecole {
    width: 5rem;
    height: 5rem;
  }
  .listecole__point {
    padding-bottom: 1rem;
    align-items: flex-start;
    border-bottom: 0.5px #B22222 solid;
  }
  .listecole__point--texte {
    width: 100%;
    font-size: 0.1rem;
  }
  .items1 {
    font-size: 0.8rem;
  }
  .items1__info {
    display: inline-block;
    font-size: 0.3rem;
    margin-top: 0.5rem;
  }
  .items1__inp {
    display: inline-block;
    border-bottom: 0.2px gray solid;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 370px) {
  .infoparcours p {
    font-size: 0.9rem;
  }
  .logo-ecole {
    width: 4rem;
    height: 4rem;
  }
  .items1 {
    font-size: 0.8rem;
  }
  .listecole__point {
    align-items: flex-start;
    width: 18rem;
    margin: auto;
    margin-bottom: 2rem;
    padding-right: 0.5rem;
  }
}
@keyframes entrer-gauche {
  from {
    transform: translateX(9999px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.icone {
  color: black;
}

.infocontact {
  width: 100%;
}

.infocontact__information {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 2rem;
}
.infocontact__information__bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 7rem;
  gap: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #000;
  animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

h3 {
  color: #B22222;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}

.info_titre2 + p, .info_titre2 {
  animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

form {
  padding: 1rem 1rem 1rem 1rem;
  margin: auto;
  margin-bottom: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
  height: 28rem;
  animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
form input, form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  border: 0px;
  border-bottom: 0.15rem solid #000;
}
form input:focus, form textarea:focus {
  outline: none;
  border-width: 0.1rem 0.1rem 0.15rem 0.1rem; /* Haut, Droite, Bas, Gauche */
  border-style: solid;
  border-color: #B22222;
}
form button {
  width: 10rem;
  height: 2rem;
  background-color: #B22222;
  border-color: #B22222;
  color: white;
  border-radius: 15px;
  transition: transform 450ms ease-in-out, background-color 300ms 150ms ease-in-out;
}
form button:hover {
  transform: scale(1.15);
  background-color: rgba(223, 16, 16, 0.767);
}

.bloc__localisation {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 0rem;
  animation: entrer-gauche 1s 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

#map {
  height: 30rem;
  width: 30rem;
  display: block;
  margin-bottom: 2rem;
}

.cta {
  font-family: "Ubuntu", sans-serif;
  color: #B22222;
}

@media screen and (max-width: 1030px) {
  .infocontact__information, .bloc__localisation {
    flex-direction: column;
    align-items: center;
  }
  .infocontact__information__bloc, .bloc__localisation__bloc {
    width: 90%;
  }
  .infocontact {
    margin-left: 2rem;
  }
  form {
    width: 90%;
  }
  #map {
    width: 90%;
  }
}
@media screen and (max-width: 370px) {
  form {
    width: 80%;
  }
  #map {
    width: 80%;
  }
  .infocontact__information__bloc {
    width: 80%;
  }
}
.navcolumn {
  position: sticky;
  top: 0%;
  left: 0px;
}

.navcolumn {
  margin-right: 1.5rem;
  padding: 0 4rem 0 4rem;
  background-color: #B22222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  height: 100vh;
  transform-origin: left top;
  animation: animation-humberger 1000ms 150ms backwards;
}
.navcolumn__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem #fff solid;
}
.navcolumn .navbar {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.navcolumn .navbar__link {
  display: inline-block;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.navcolumn .navbar__linktexte--actu {
  font-size: 1.6rem;
}
.navcolumn .navbar__linktexte:hover, .navcolumn .navbar__linktexte--actu {
  -webkit-text-decoration: underline #B22222;
          text-decoration: underline #B22222;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.18rem;
}
.navcolumn .navbar__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0rem;
}
.navcolumn .navcolumn__img {
  animation: menu__item 3s 1500ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.navcolumn .exit-toggle {
  animation: exit-toggle1 3s 3000ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}
.navcolumn .footer {
  animation: footer1 1s 2000ms cubic-bezier(0.1, 0.9, 0.1, 1) backwards;
}
.navcolumn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  transform-origin: top left;
  animation: menu 500ms 150ms both;
  z-index: -1;
  background: #000;
  z-index: -2;
}

.navbar__link1 {
  animation: menu__item 500ms 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.navbar__link2 {
  animation: menu__item 500ms 1100ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.navbar__link3 {
  animation: menu__item 500ms 1200ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.navbar__link4 {
  animation: menu__item 500ms 1300ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.navbar__link5 {
  animation: menu__item 500ms 1400ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.navbar__link6 {
  animation: menu__item 500ms 1400ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

@keyframes menu__item1 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-500%);
    opacity: 0;
  }
}
.menu-toggle {
  margin: 2rem 0rem 0rem 1rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.5rem #000;
  display: none;
  z-index: 9;
  animation: exit-toggle1 3s 0ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}

.exit-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 2%;
  left: 0px;
  justify-self: flex-start;
  background-color: white;
  color: #B22222;
  border-radius: 35px;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  box-shadow: 0rem 0rem 0.5rem white;
  margin: 1rem 0rem 0rem 1rem;
  display: none;
  z-index: 999;
}

#mobile-menu-exit.visible {
  background-color: aqua;
  animation: animation-humberger 5000ms 0ms backwards reverse;
}
#mobile-menu-exit.visible ~ .navbar, #mobile-menu-exit.visible ~ .exit-toggle, #mobile-menu-exit.visible ~ .navcolumn__img, #mobile-menu-exit.visible ~ .footer, #mobile-menu-exit.visible ~ .navcolumn {
  background-color: chartreuse;
  animation: menu__item 1s 1500ms cubic-bezier(0.1, 0.9, 0.1, 1) both reverse;
}
#mobile-menu-exit.visible ~ .exit-toggle {
  animation: exit-toggle1 1s 2000ms cubic-bezier(0.1, 0.9, 0.1, 1) both reverse;
}
#mobile-menu-exit.visible ~ .footer {
  animation: footer1 1s 2000ms cubic-bezier(0.1, 0.9, 0.1, 1) backwards reverse;
  background-color: chartreuse;
}

.menu-toggle {
  position: fixed;
  top: 2%;
  left: 0px;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #B22222;
  margin: 5px 0;
}

.navcolumn.visible {
  background-color: #B22222;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

@keyframes footer1 {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  20% {
    transform: translateY(30rem);
    opacity: 1;
  }
}
@keyframes exit-toggle1 {
  0% {
    transform: translateY(-200%);
  }
}
@keyframes menu__item {
  0% {
    transform: translateX(-500%);
  }
}
@keyframes menu {
  0% {
    transform: scale(0, 0.07);
  }
  33% {
    transform: scale(1, 0.07);
    animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}
@keyframes animation-humberger {
  0% {
    transform: scaleX(0.1) scaleY(0);
  }
  50% {
    transform: scaleX(1) scaleY(0.05);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 1030px) {
  .navcolumn {
    display: none;
    padding: 0;
  }
  main {
    height: 100vh;
  }
  .exit-toggle, .menu-toggle {
    display: flex;
  }
}
@media screen and (max-width: 370px) {
  .exit-toggle, .menu-toggle {
    border-radius: 35px;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
  .menu-toggle span {
    height: 1.5px;
    width: 20px;
  }
}
.footer {
  display: flex;
  align-items: center;
}
.footer__linkicon img {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;
}
.footer__linkicon .image {
  width: 2.2rem;
  height: 2.2rem;
}
.footer img:hover {
  opacity: 0.5;
}

* {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  padding-right: 2rem;
}

i {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  font-size: 1.5rem;
}

.active {
  color: #B22222;
  font-size: 1.7rem;
}

.body-acc {
  background-image: url("../assets/img/acceuil/fond.jpg");
}

.body-accueil {
  background-color: black;
  background-image: url("../assets/img/acceuil/fond.jpg");
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  will-change: background-image;
  animation: scrollBackground 20s ease-in-out both infinite;
}
@keyframes scrollBackground {
  0% {
    background-image: url("../assets/img/acceuil/fond.jpg");
  }
  30% {
    background-image: url("../assets/img/acceuil/fond3.jpg");
  }
  60% {
    background-image: url("../assets/img/acceuil/fond10.jpeg");
  }
  80% {
    background-image: url("../assets/img/acceuil/fond7.jpg");
  }
  100% {
    background-image: url("../assets/img/acceuil/fond.jpg");
  }
}

.droit {
  color: #fff;
}/*# sourceMappingURL=mains.css.map */