//importation des fichiers de la section utils
@import "utils/variables";

//importation des fichiers de la base
@import "base/typography";

//importation des fichiers de la section pages
@import "pages/index";
@import "pages/about";
@import "pages/portfolio";
@import "pages/parcours";
@import "pages/contact";

//importation des fichiers de la section layouts
@import "layouts/header";
@import "layouts/footer";


*{
    margin: 0px;
    padding: 0px;
}
// .Body{
//     background-color:$body-color;
// }
main{
    display: flex;
    padding-right: 2rem;
    
}

i{
    width: 1.5rem;
    height: 1.5rem;
    color:white;
    font-size: 1.5rem;
}
.active{
    color:$red-color;
    font-size: 1.7rem;
}

.body-acc{
    background-image: url('../assets/img/acceuil/fond.jpg');
}
.body-accueil{
    background-color: black;
    background-image: url('../assets/img/acceuil/fond.jpg');
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    will-change: background-image;
    
    animation: scrollBackground 20s ease-in-out both infinite ;

@keyframes scrollBackground {
    0% {
        background-image: url('../assets/img/acceuil/fond.jpg');
        
    }
    30% {
        background-image: url('../assets/img/acceuil/fond3.jpg');
     
    }
    60% {
        background-image: url('../assets/img/acceuil/fond10.jpeg');
        
    }
    80% {
        background-image: url('../assets/img/acceuil/fond7.jpg');
        
    }
    100% {
        background-image: url('../assets/img/acceuil/fond.jpg');
        
    }
    
  }
}
.droit{
    color: #fff;
}


.agritech{
  


    background-image: url("../assets/img/drone.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
      
  }